<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-signaturePad" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>signaturePad</name>
    <js-module name="signaturePad" src="www/signaturePad.js">
        <clobbers target="cordova.plugins.signaturePad" />
    </js-module>
	
 <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
             <feature name="signaturePad">
        <param name="android-package" value="com.zsmarter.cordova.signaturepad.SignatureExc"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
         <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.zsmarter.cordova.signaturepad.SignatureActivity"/>
    </config-file>
	   
        <source-file src="src/android/com/zsmarter/cordova/signaturepad" target-dir="src/com/zsmarter/cordova/"/>
        <source-file src="src/android/res/values/attrs.xml" target-dir="res/values/"/>
        <source-file src="src/android/res/layout/sign_main.xml" target-dir="res/layout/"/>
    </platform>
</plugin>
